body {
  font-family: Arial, sans-serif;
  background-color: #fb8000;
  margin: 0;
  padding: 20px;
  color: #ccc;
}
.body-white {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
  color: black;
}
form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #1b203b;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.form-white {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
label {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 7px;
}

input[type="radio"] {
  margin-right: 5px;
  display: inline-block;
}
.radio-options input[type="radio"] {
  text-align: right;
  align-items: end;
}
.radio-options label {
  font-weight: normal;
}

input[type="submit"] {
  background-color: #fb8000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ff9e36;
}
.input-white[type="submit"] {
  background-color: #1b203b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.input-white[type="submit"]:hover {
  background-color: #282f57;
}
button {
  background-color: #fb8000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover{
  background-color: #ff9e36;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
        }
th {
  background-color: #f5f5f5;
  font-weight: bold;
}
.logo-item {
  display: flex;
  justify-content:left;
  align-items: center;
  height: 70px; /* Ajusta la altura deseada */
  background-color: #ffffff; /* Color de fondo opcional */
}
.logo-item img {
  max-height: 100%; /* La imagen ocupará todo el alto del div */
  max-width: 100%; /* La imagen se ajustará al ancho del div */
}